<h1 class="top">User Register</h1>
<% if @user.errors.any? %>
  <p>The form contains<%= @user.errors.size %> errors</p>
  <ul>
    <% @user.errors.full_messages.each do |err| %>
      <li>
        <%=  err %>
      </li>
    <% end %>
  </ul>
<% end%>

<div class="container-fluid sign_up_form">
  <%= form_with(model: @user,local: true) do |f| %>
    <div class="row">
      <%= f.label :name,class: "col-xs-offset-2 col-xs-3" %>  
      <%= f.text_field :name,class:"col-xs-5"%>
    </div>
    <div class="row">
      <%= f.label :email,class: "col-xs-offset-2 col-xs-3"  %>
      <%= f.text_field :email,class:"col-xs-5" %>  
    </div>
    <div class="row">
      <%= f.label :password,class: "col-xs-offset-2 col-xs-3"  %>
      <%= f.password_field :password,class:"col-xs-5" %>  
    </div>
    <div class="row">
      <%= f.label :password_confirm,class: "col-xs-offset-2 col-xs-3"  %>
      <%= f.password_field :password_confirm,class:"col-xs-5" %>  
    </div>
    <div class="submit_row">
      <%= f.submit "register",class: "btn btn-default" %>    
    </div>
  <% end %>
</div>

