<h1>User Register</h1>
<% if @user.errors.any? %>
  <p>The form contains<%= @user.errors.size %> errors</p>
  <ul>
    <% @user.errors.full_messages.each do |err| %>
      <li>
        <%=  err %>
      </li>
    <% end %>
  </ul>
<% end%>


<%= form_with(model: @user,local: true) do |f| %>
  <div class="form_row">
    <%= f.label :name %>  
    <%= f.text_field :name %>
  </div>
  <div class="form_row">
    <%= f.label :email %>
    <%= f.text_field :email %>  
  </div>
  <div class="form_row">
    <%= f.label :password %>
    <%= f.text_field :password %>  
  </div>
  <div class="form_row">
    <%= f.label :password_confirm %>
    <%= f.text_field :password_confirm %>  
  </div>
  <%= f.submit "register" %>
<% end %>