<div class="container-fluid form_page">
  <%= form_with(model: @picture,local: true,url: choose_new_or_edit ) do |f| %>
    <div class="row">
      <%= f.label :title,class:"col-xs-offset-2 col-xs-2" %>
      <%= f.text_field :title,class:"col-xs-6" %>
    </div>
    <div class="row">
      <%= f.label :image,class:"col-xs-offset-2 col-xs-2" %>
      <%= f.file_field :image, id: :picture_image,class: "file_button col-xs-6" %>
      <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url%>
    </div>
    <div class="row ">
      <%= f.label :comment,class:"col-xs-offset-2 col-xs-2" %>
      <%= f.text_area :comment,class: "col-xs-6"%>
    </div>
    <div class="row submit_row">
      <%= f.submit "submit",class:"btn btn-default submit_button" %>    
    </div>
  <% end %>
</div>
