<% if @picture.errors.any? %>
  <p>
    <%= @picture.errors.size %>件のエラーあり
  </p>
  <% @pictures.errors.full_messages.each do |msg|%>
    <% msg %>
  <% end %>
<% end %>

<%= form_with(model: @picture,local: true) do |f|%>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :image_cache %>
  <%= f.hidden_field :comment%>
  <p class="page-header"><%= @picture.title%></p>
  <%= image_tag(@picture.image.url,class:"page-body image") if @picture.image && @picture.image.url %>
  <p class="page-body comment"><%= @picture.comment %></p>
  <%= f.submit "create",class:"btn btn-default"%>
<% end %>

