<div class="container-fluid">
  <% @pictures.each do |picture| %>
    <div class="panel panel-default">
      <div class="page-header">
        <h2><%= picture.title %></h2>
      </div>
      <div class="page-body image">
        <% if picture.image.url %>
          <p><%= image_tag picture.image.url %></p>
        <%else%>
          <p>no image...</p>
        <% end %>
      </div>
      <div class="page-body comment">
        <p><%= picture.comment %></p>            
      </div>
      <div class="page-footer">
        <div class="buttons">
          <%= link_to "show",picture_path(picture.id),class: "btn btn-default" %>
          <%= link_to "edit",edit_picture_path(picture.id), class: "btn btn-default" %>
          <%= link_to "delete",picture_path(picture.id),method: :delete, class: "btn btn-default" %>        
        </div>
      </div>    
    </div>
  <% end %>
</div>

